<div id="about">
<h1> Welcome to 2 Bros Bakery! </h1>

<h3> Here at 2 Bros we pride ourselves in quantity over quiality. Take a look at our best Cakes, Cookies, and Muffins. </h3>
<h3> But it doesnt stop there... weve got Chicken, Tacos, Cheesecake. </h3>
<h3> If its food we probably have it! </h3>
<h3> And all for the low low price of $1 </h3>
<h3> E-mail: 2brosbaking@bbros.com</h3>
</div>