<h1> Welcome to my page </h1>

<%= @arr.class  %>

<%# <% @arr.each do |x| %> 

<%# <p><%= x["label"] %></p> 
<%# <img src="<%= x["image"] %> 

<%# <% x["ingredientLines"].each do |y| %> 

<%# <p><%= y %></p> 

<%# <% end %> 

<%# <% end %> 