<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Bakers Man</title>
</head>

<body>

    <header>
        <h1>Bakers Man</h1>
    </header>

    <nav>
        <h3>Home</h3>
        <h3>Category</h3>
        <h3>Ingredients</h3>
    </nav>

    <form action="/" method="POST">
        <input type="text">
        <button type="submit">Submit</button>
    </form>

    <%= yield %>
    <script src="main.js"></script>
</body>

</html>