<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bakers Man</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <header>
        <h1 id='top'>Bakers Man</h1>
    </header>

    <nav id = "nav-container">
        <h3>Home</h3>
        <h3>Category</h3>
        <h3>Ingredients</h3>
    </nav>

    <form action="/" method="POST">
        <input name="food" placeholder="food" />
        <input name="to" placeholder="# of recipies"/>
        <button>Submit</button>
    </form>



    <%= yield %>
    <script src="main.js"></script>
</body>